# IDE — IntelliJ IDEA
.idea/
*.iml

# Скомпилированные файлы Java
*.class

# Папки сборки
out/
build/
target/

# Операционные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
logs/
temp/
.tmp.driveupload/

# Библиотеки
lib/
*.jar

/_.swp
/leep(), rename took to locked, reformat code
/son_12 add MainConcurrency with atomic counter and executor
/storage/uuid1
/storage/uuid2
/storage/uuid3
